<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
    <li>
      <a href="https://bit.ly/2W0F4A2" target="_blank">Roadmap</a>
    </li>
  </ul>
</nav>
